/* khusus swal button biar tidak transparan */
.swal2-confirm,
.swal2-cancel {
  background-color: var(--swal2-confirm-button-background-color, #e3342f) !important;
  color: #fff !important;
  background-image: none !important;
}
.swal2-confirm {
  background-color: #e3342f !important;
  border: none !important;
  color: #fff !important;
}

.swal2-cancel {
  background-color: #6c757d !important; /* abu-abu */
  border: none !important;
  color: #fff !important;
}
.whitespace-nowrap {
  white-space: nowrap;
}

.sidebar-menu-text {
  font-size: 0.8rem !important;
}

/* aktifkan kembali indikator time picker */
input[type="time"] {
  position: relative;
  padding-right: 35px;
}

/* bikin icon bawaan tetap aktif */
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0; /* transparan tapi tetap bisa dipencet */
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* taruh icon custom di atasnya */
input[type="time"]::after {
  content: "🕒"; /* atau SVG seperti tadi */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none; /* biar kliknya tetap masuk ke indicator bawaan */
}

/* custom css untuk halaman kasir */
.logo-kasir {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.content-produk {
  width: 75%;
  padding: 20px;
}
.cart-produk {
  width: 25%;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 100vh; /* full height */
  overflow-y: auto; /* scroll jika konten melebihi tinggi */
}